.paragraph { margin: 5px 0px 10px 13px; }
html { background-image: url('./images/bg.png'); background-repeat: repeat; }
body { font-family: helvetica; font-size: 18px; margin: 5% 3%; padding: 9px 5px 15px; background-color: #ffffe0; opacity: 0.8; border: 1rem ridge rgba(211, 220, 50, .6); cursor: url('./images/cursor.png'); }
.avatar-image { border: 1rem ridge rgba(211, 220, 50, .6); height: 20rem; width: 20rem; }
.logo { text-align: left; }
.sharp { color: blue; }
